<?xml version="1.0"?>

<launch>

	<arg name="uavName" default="quadrotor1"/>
	<arg name="x" default="0.5"/>  	
	<arg name="y" default="0.5"/>
	<arg name="yaw" default="0"/>  
	
	 <group ns="$(arg uavName)">
		<include file="$(find ardrone_vislab_gazebo)/launch/spawn_quadrotor.launch" >
				<arg name="model" default="$(find ardrone_vislab_description)/urdf/quadrotor_sensors.urdf.xacro"/> 
				<arg name="namespace" value="$(arg uavName)"/> 
				<arg name="x" value="$(arg x)"/>  	
				<arg name="y" value="$(arg y)"/>
				<arg name="Y" value="$(arg yaw)"/>  	
		</include>
		<!-- <include file="$(find aruco_ros)/launch/marker_publisher.launch" /> -->
		<!-- <include file="$(find multi_ardrone_sim)/launch/aruco_markers.launch"/> -->
		<!-- <include file="$(find multi_ardrone_sim)/launch/motion.launch"/> -->
		
		<!-- <node pkg="multi_ardrone_sim" type="getPose" name="detect_markers"/> -->
		<node pkg="multi_ardrone_sim" type="aruco_localization" name="localization" output="screen"/> 
		<param name="Kz"        	    value="0.002" />
		
		<param name="useVicon"        	value="false" />
		
		
	  </group>
  
</launch>

